#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config WAIT_FOR_CLI_CONNECTION
	bool "Wait for a connection on USB/serial before booting"
	default y

# Deal with some OpenThread configuration problems
config OPENTHREAD_WORKING_PANID
	hex "Default PAN ID (config fix)"
	default 0x1234
